ul,li{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
body{
	margin: 0px;
	min-width: 550px;
}
#tools button {
    background: #ffffff;
    color: #505254;
    border: 1px #c7c9cf solid;
    display: inline-block;
    height: 34px;
    line-height: 34px;
    padding: 0 28px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 13px;
    background-image: url("../images/ico-message.png");
    background-repeat: no-repeat;
    background-position: 6px 0;
    outline: none;
}
#tools button:hover {
    border: 1px #aaa solid;
}

#tools button.createFolder {
    background-position-y: -545px;
}
#tools button.rename {
    background-position-y: -511px;
}
#tools button.moveto {
    background-position-y: -447px;
}
#tools button.delete {
    background-position-y: -319px;
}
#tools button.menu {
    background-position:18px -1089px;
    padding:0px 25px;
    float: right;
}
#tools button.showType {
    background-position:12px -992px;
    padding:0px 25px;
    float: right;
}
#tools .invalid{
	background-color: #eee;
	color: #ccc;
}
#menu_tree{
	width: 15%;
	height: 562px;
	background-color:#eee;
	margin-top: 10px;
	float: left;
	display: none;
	border-bottom: 0px;
}
#rightbox{
	width: 100%;
	float: left;
}
#breadcrumb{
    margin: 10px 0;
    color: white;
    background: #2e8ae6;
    padding: 10px;
}
#breadcrumb a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.clear:after{
	content: "";
	display: block;
	clear: both;
}

.file {
    width: 125px;
    height: 127px;
    float: left;
    border: 1px solid #ffffff;
    cursor: pointer;
    position: relative;
    margin: 5px;
}

.file .image {
    width: 125px;
    height: 100px;
    background: url('../images/file.png') no-repeat;
}
.file .name {
    height: 27px;
    text-align: center;
    font-size: 12px;
}
.file .image-folder {
    background-position: 32px 25px;
}
.file .image-txt {
    background-position: -82px -208px;
}
.file .image-pdf {
    background-position: 30px -208px;
}
.file .checkbox {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 18px;
    height: 18px;
    display: none;
    background: url('../images/ico.png') no-repeat 0 -370px;
}

/*hover*/
.file-hover {
    border: 1px solid #c3d8f0;
    background: rgba(195,216,240,0.2);
}
.file-hover .checkbox {
    display: block;
}
/*checked*/
.file-checked {
    border: 1px solid #c3d8f0;
    background: rgba(195,216,240,0.5);
}
.file-checked .checkbox {
    display: block;
    background: url('../images/ico.png') no-repeat 0 -421px;
}
#bgbox{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
}
#bg{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: rgba(0,0,0,0.3);
}
#box{
	width: 300px;
	/*height: 300px;*/
	border: 1px solid #ccc;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: #FFF;
	position: relative;
}
#box dd{
	margin: 5px;
	background-color: #ccc;
	cursor: pointer;
}
#box a{
	position: absolute;
	right: 10px;
	top: 10px;
	color: #000000;
	text-decoration: none;
}
#smallImg{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30px;
	height: 26px;
	background: url('../images/folder.png') no-repeat 0px 0px;
	display: none;
}
#smallImg span{
	width: 14px;
	height: 14px;
	/*display: inline-block;*/
	position: absolute;
	left: 0px;
	top: 0px;
	border-radius: 7px;
	background-color: blue;
	color: #fff;
	font: 14px/14px "微软雅黑";
	text-align: center;
}

#list{
	display: none;
	position: absolute;
	background-color: #fff;
	width: 100px;
	/*height: 200px;*/
	border: 1px solid #666;
}
li{
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}
li:hover{
	background-color:#C3D8F0;
}
