body,dl,dd,h1,h2{
	margin: 0px;
}
a{
	text-decoration: none;
}
img{
	border: none;
	vertical-align: top;
}
ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
input{
	padding: 0;
	margin: 0;
}
select{
	border: none;
}
